@model List<Category>;
@{
    ViewData["Title"] = "Update Product Page";
    var categories = Model;
    var product = ViewBag.Product;
}

<h1 class="display-4">Update Product</h1>
<form action="/Product/Save" method="GET">
  <div class="form-group">
    <label for="Id">Id</label>
    <input readonly disabled value="@product.Id" type="text" class="form-control" id="Name" name="Id">
  </div>
  <div class="form-group">
    <label for="Name">Name</label>
    <input value="@product.Name" type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name">
  </div>
   <div class="form-group">
    <label for="Slug">Slug</label>
    <input value="@product.slug" type="text" class="form-control" id="Slug" name="slug" placeholder="Enter Slug">
  </div>
  <div class="form-group">
    <label for="Price">Price</label>
    <input value="@product.Price" type="number" class="form-control" id="Price" name="Price" placeholder="Enter Price">
  </div>
  <div class="form-group">
    <label for="Quantity">Quantity</label>
    <input value="@product.Quantity" type="number" class="form-control" id="Quantity" name="Quantity" placeholder="Enter Quantity">
  </div>
  <div class="form-group">
    <label for="Category">Category</label>
    <select  class="form-control" id="CategoryId" name="CategoryId" placeholder="Select Category">
        @foreach (var category in categories)
        {
            @if(category.Id == product.CategoryId) {
                <option selected value="@category.Id">@category.Name</option>
            }else {
                <option value="@category.Id">@category.Name</option>
            }
        }
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>